<div id=principal">
    <div id="ficha">
        <h3>Ficha de persona</h3>
        <h4>Datos generales:</h4>
        <p><b>Nombre:</b> {{ persona.nombre|default_if_none:"" }} <br>
        <b>Género:</b> {{ persona.genero|default_if_none:"" }} <br>
        <b>Fecha de nacimiento:</b> {{ persona.fecha_nacimiento|default_if_none:"" }} <br>
        <b>Fecha de defunción:</b> {{ persona.fecha_defuncion|default_if_none:"" }} <br>
        <b>Notas:</b> {{ persona.notas|default_if_none:"" }} </p>        
    </div>
    <div id="cargos"></div>
        <h4>Cargos</h4>
        <table class="cuatro_columnas">
            <th class="nombre_campo">Cargo</th>
            <th class="nombre_campo">Lugar</th>
            <th class="nombre_campo">Fechas</th>
            <th class="nombre_campo">Notas</th>
            {% for cargo in persona.cargo_set.all %}
                <tr>
                    <td>{{cargo.titulo_cargo}}</td>
                    <td>{{cargo.localidad}}</td>
                    <td>{{cargo.fecha_inicio}} - {{cargo.fecha_final}}</td>
                    <td>{{cargo.notas}}</td>
                </tr>
            {% endfor %}
        </table>

</div>
