body {
    font-family: arial,  helvetica, sans-serif;
    background-color: #ebebe0;
}

#contenido_completo {
    with: 1200px;
    margin: 0 auto;
    padding: 0;
}

#header a.inicio_sesion {
    float: right;
    text-decoration: none;
    font-size: .8em;
    color: #7c7c50;
}

#nav {
    float: right;
    margin-top: 5px;
}

#nav ul {
	background-color: #a5a573;
	border-top-left-radius: 10px;
	padding: 10px;
	margin:0;
	list-style-type: none;
}

#nav ul li {
	display: inline;
	text-align: center;	
	padding: 10px 22px 0px 22px;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

#nav ul li a {
	text-decoration: none;
	font-size: 1em;
	color: #FFF4D4;
}

#cuerpo {
    padding: 20px;
	margin: 0 auto;
    font-size: .9em;
}

#cuerpo p {
    margin: 10px;
    padding: 5px 10px;
}

#cuerpo h1 {
    color: #610506;
}

#cuerpo h2 {
    color: #610506;
}

#cuerpo h4 {
    color: #610506;
}
#cuerpo a {
    color: #7c7c50;
}

#cuerpo table.cuatro_columnas th {
    width: 260px;
}

#cuerpo th.nombre_campo {
    text-align: left;
}

#cuerpo td {
    font-size: .9em;
    padding: 5px;
}

#cuerpo ul {
    list-style-type: none;
}

#footer {
    background-color: #a5a573;
    font-size: .9em;
    color: #FFF4D4;
    padding: 2px 7px;
}

#footer a {
    color: #FFF4D4;
    font-weight: bold;
}
