{% extends "galvez_base.html"%}


{% block title %} Búsqueda personas | {{block.super}}{% endblock %}

{% block main%}
	<div id="main">
		<div id="content">
		{% block content %}
			<h3 class="browse_title">Búsqueda de personas</h3>
				<form action="" method="get">
					<p>
						<span class="search_param">Búsqueda original: </span>
						<input type="text" name="q" value="{{ query_string }}">
						<input type="submit" value="Buscar">
						<a href="/buscador/">volver</a>
					</p>
				</form>
			<h3><b>Results ({{ personas|length }} total)</b></h3>
				<ul>
					{% for persona in personas %}
					<li><a href="/personas/{{persona.id}}">{{ persona }}</a></li>
					{% endfor %}
				</ul>
		{% endblock %}
{% endblock %}