<!-- La platilla base del proyecto y se extiende a otras plantillas -->

{% load static %}

<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/galvez_base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}Proyecto GALVEZ-BD{% endblock %}</title>
        {% block scripts %}
<!-- incluir librería de jQuery y scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}
<!-- y aquí se cierra el head -->        
    </head>
    <header id="header">
        <a class="inicio_sesion" href="/admin/"><b>iniciar sesión</b></a>
        <img src="{% static 'img/GalvezBD-02.gif' %}" alt="cabeza" style="max-width:100%;height:auto;" class="center">
    </header>
    <div id="contenido_completo">
        <div id="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/buscador">Buscador</a></li>
                <li><a href="/acerca">Acerca</a></li>
                </ul>
        </div>
        <div id="cuerpo">
        {% block main %}
        
        {% endblock %}
        </div>
        <div id="footer">
          <p><img src="{% static 'img/logo-rersab.png' %}" style="float:right;max-width:100%;height:auto;">El <strong>Proyecto Gálvez-BD</strong> está desarrollado en <a href="http://www.colmich.edu.mx" target="_blank">El Colegio de Michoacán, A.C.</a>-CPI-CONACYT, en el marco de la LGAC <a href="https://www.colmich.edu.mx/index.php/investigacion-ceh/lineas-de-investigacion" target="_blank">Ideas e Instituiones Político Jurídicas: de la Monarquía Hispana a la Etapa Nacional</a> para los trabajos de investigación de la <a href="http://www.rersab.org/" target="_blank">Red de Estudios sobre el Régimen de Subdelegaciones en la América Bobónica</a>.</p>
          <p style="text-align:center;">Diseño y desarrollo: María Pilar Gutiérrez Lorenzo, Ana Parrila Albuerne y <a href="http://victorgayol.net" target="_blank">Víctor Gayol</a> | Creado con <a href="http://www.djangoproject.com" target="_blank">Django</a> y <a href="httP://www.python.org" target="_blank">Python</a></p>
        </div>
    </div>
</html>