{% extends "galvez_base.html" %}
{% load static %}

{% block main %}
<h2>El gobierno de una monarquía: España e Indias - 1492-1850</h2>
<p><strong>Proyecto Gálvez-BD</strong> es una propuesta de estructura para construir una base de datos prosopográfica que recoja los datos fundamentales
de las historias de vida de las personas involucradas en las instituciones de gobierno y administración de justicia de la monarquía hispánica.
Está diseñada en un inicio para consignar los datos de los responsables del gobierno de la Nueva España y la Nueva Galicia a partir de
las reformas territoriales y jurisdiccionales ideadas por José de Gálvez y puestas en práctica con la aplicación de
las versiones de la <i>Real Ordenanza de Intendentes...</i>, primero publicada para el virreinato de Buenos Aires en 1782 y luego para el reino de la Nueva España en 1786. Sin embargo,
queremos diseñarla con la suficiente flexibilidad como para integrar una base de datos del conjunto
del gobierno secular y eclesiástico en España e Indias, desde el siglo XVI a la primera mitad del XIX, que cubra la mayor amplitud de niveles, desde los general a lo local y desde lo local a lo general.</p>
<p>Para encontrar a un personaje en particular, lugar o cargo desempeñado, utilice el <a href="/buscador">BUSCADOR</a> al que se accede desde el menú de la parte superior.</p>
{% endblock %}